*{
    font-family: 'Do Hyeon', sans-serif;
}
html{
	position: relative;
	min-height: 100%;
	margin: 0;
}
body {
    margin: 0;
    background-image: url('../이미지/backgroundimg.png');
    background-repeat: no-repeat;
    height: 100%;   
    min-height: 100%;
}
.contain{
    height: 100%;
    max-width: 100%;
}
.board-image{
    /* background 이미지 지정  */
    background: url("../이미지/main_board.png") center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60.0556vw;
    height: 38.5972vw;
    margin: 0 auto;
    margin-top: 4vw;
    margin-bottom: 30vw;
}   
.title_text{
    display: flex;
    justify-content: center;
}
.board_text{
    font-size: 3.2vw;
    /* margin: 0.15vw; */
    text-align: center;
}
#text1{
    background-image: url('../이미지/text_box1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw;
    transform: rotate(4deg);
}
#text2{
    background-image: url('../이미지/text_box2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw;
    transform: rotate(-8deg);
}
#text3{
    background-image: url('../이미지/text_box3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw;
    /* 이미지 각도 조절하기 */
    transform: rotate(1deg);
}
#text4{
    background-image: url('../이미지/text_box4.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw;
    transform: rotate(-7deg);
}
#text5{
    background-image: url('../이미지/text_box5.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw;
    transform: rotate(7deg);
}
.foot{
    margin-top: 3vw;
    margin-left: 2vw;
    height: 64%;
}
.footprint_r{
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url('../이미지/footprint1.png');
    background-repeat: no-repeat;
    width: 1.7vw;
    height: 3.7vw;
}
.footprint_l{
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url('../이미지/footprint2.png');
    background-repeat: no-repeat;
    width: 1.7vw;
    height: 4.2vw;
}
#foot1{
    transform: rotate(-10deg);
    left: 5vw;
    z-index: 1;
}
#foot2{
    transform: rotate(7deg);
     z-index: 2;
     top: -2vw;
     left: 1.5vw;
}
#foot3{
    transform: rotate(10deg);
    left: 5vw;
    z-index: 3;
    top: -16vw;
    bottom: 5vw;
}
#foot4{
    transform: rotate(-20deg);
    bottom: 7vw;
    z-index: 4;
    left: 1.6vw;
    top: -16vw;
}
.main_img1{
    background-image: url('../이미지/main_img2.jpg');
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 11.9271vw;
    height: 11.1632vw;
    left: 8vw;
    top: -1.5vw;
    bottom: 3vw;
    border: solid #E2D3B3;
    border-width: 0.7vw;
    padding: 0;
    transform: rotate(-6deg)
}
.main_img2{
    background-image: url('../이미지/main_img1.jpg');
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 11.9271vw;
    height: 10.1632vw;
    right: 5vw;
    left: 15vw;
    top: -33vw;
    transform: rotate(13deg);
    border: solid #E2D3B3;
    border-width: 0.7vw;
}
.line{
    background-image: url('../이미지/line.png');
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 13.0083vw;
    height: 25.5972vw;
    left: 24vw;
    top: -48.5vw;
}
.button{
    position: relative;
    padding: 0;
    left: 38vw;
    bottom: 74.5vw;
    height: 10vw;
    margin: 0;
    width: 10vw;
}
.myButton {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:transparent;
	border: 3px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size: 1.1rem;
	font-weight:bold;
	padding: 6px 26px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
    width: 10vw;
    text-align: center;
    margin-bottom: 2.5vw;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

.button>:nth-child(2){
    transform: rotate(-3deg);
}
.button>:nth-child(3){
    transform: rotate(3deg);
}
.button>:nth-child(4){
    transform: rotate(2deg);
}

/*** FOOTER ***/
.callby{
    position: relative;
    left: 6vw;
    bottom: 6.5vw;
    background-image: url('../이미지/callby.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 28vw;
    height: 11vw;
}
.callby:hover{
    transform: rotate( -4deg );
}
.pen{
    position: relative;
    left: 25vw;
    bottom: 6.5vw;
    background-image: url('../이미지/pen.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 17vw;
    height: 3vw;
}
.pen:hover{
    transform: rotate( -4deg );
}
.footer {
    width: 100%;    
    background-image: url('../이미지/footerback.png');
    min-height: 20vw;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;   
}
 @media screen and (max-width:1020px){
    .foot{
        margin-top: 0.5vw;
        margin-left: 2vw;
        height: 100%;
    }
 }

  @media screen and (max-width:980px){
    .board-image{
        width: 68.0556vw;
        height: 43.5972vw;
        margin: 0 auto;
        margin-top: 4vw;
        margin-bottom: 25vw;
    }   
    .foot{
        margin-top: -2vw;
        top: -10vw;
    }
    .footprint_r{
        width: 1.9vw;
        height: 3.9vw;
    }
    .footprint_l{
        width: 1.7vw;
        height: 3.7vw;
    }
    #foot2{
        top: -2vw;
    }
    #foot3{
        left: 5vw;
        top: -20vw;
        bottom: 5vw;
    }
    #foot4{
        top: -20vw;
    }
    .button{
        position: relative;
        padding: 0;
        left: 40vw;
        bottom: 70.5vw;
        margin: 0;
        width: 2vw;
        margin-top: -8.5vw;
        top: -72vw;
    }
    .myButton{
        font-size:0.8em;
        margin-bottom: 1.5vw;

    }
    .main_img1{
        width: 14.9271vw;
        height: 13.1632vw;
        bottom: 1rem;
        top: 1rem;
    }
    .main_img2{
        width: 13.9271vw;
        height: 12.1632vw;
        top: -36vw;
    }
    .line{
        margin-top: 3vw;
        left: 24vw;
        top: -52.5vw;
    }
 }

 @media screen and (max-width:640px){
    .board-image{
        width: 87.0556vw;
        height: 60.5972vw;
        margin: 0 auto;
        margin-top: 4vw;
        margin-bottom: 15vw;
    }   
    .foot{
        margin-top: -2vw;
        top: -16vw;
    }
    .footprint_r{
        width: 2.1vw;
        height: 4.1vw;
    }
    .footprint_l{
        width: 1.9vw;
        height: 4.4vw;
    }
    #foot2{
        top: 1vw;
    }
    #foot3{
        left: 5vw;
        top: -20vw;
        bottom: 5vw;
    }
    #foot4{
        top: -20vw;
    }
    .button{
        position: relative;
        padding: 0;
        left: 49vw;
        bottom: 70.5vw;
        margin: 0;
        width: 2vw;
        margin-top: -8.5vw;
        top: -78.6vw;
    }
    .myButton{
        font-size:0.1em;
        margin-bottom: 1.3vw;
        border: 3px solid #000000;
        padding: 3px 26px;
        width: 12vw;
    }
    .main_img1{
        width: 19.9271vw;
        height: 18.1632vw;
        bottom: 2rem;
        top: 2rem;
    }
    .main_img2{
        width: 17.9271vw;
        height: 16.1632vw;
        top: -44vw;
    }
    .line{
        margin-top: 2vw;
        left: 28vw;
        top: -58.47vw;
        transform: rotate(10deg);
    }
 }

 @media screen and (max-width:460px){
    .board-image{
        width: 87.0556vw;
        height: 60.5972vw;
        margin: 0 auto;
        margin-top: 4vw;
        margin-bottom:  1.2vw;
    }   
    .foot{
        margin-top: -7vw;
        top: -20vw;
    }
    .footprint_r{
        width: 2.1vw;
        height: 4.1vw;
    }
    .footprint_l{
        width: 1.9vw;
        height: 4.4vw;
    }
    #foot1{
        top: 2vw;
    }
    #foot2{
        top: 1vw;
    }
    #foot3{
        left: 5vw;
        top: -20vw;
        bottom: 5vw;
    }
    #foot4{
        top: -20vw;
    }
    .button{
        position: relative;
        padding: 0;
        left: 53vw;
        bottom: 70.5vw;
        margin: 0;
        width: 2vw;
        margin-top: -17.5vw;
        top: -84.6vw;
    }
    .myButton{
        font-size: 7px;
        margin-bottom: 1.3vw;
        border: 3px solid #000000;
        padding: 3px 26px;
        width: 10vw;
    }
    .main_img1{
        width: 19.9271vw;
        height: 18.1632vw;
        bottom: 2rem;
        top: 1rem;
    }
    .main_img2{
        width: 17.9271vw;
        height: 16.1632vw;
        top: -48vw;
    }
    .line{
        margin-top: 2vw;
        left: 32vw;
        top: -63.47vw;
        transform: rotate(10deg);
    }
 }
